/* Section specific */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    z-index: 10;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.button {
    border: 1px solid var(--accent-dark);
    padding: .5rem;
    border-radius: 5px;
}

nav a:hover, nav a:focus, nav a:active {
    border: var(--accent-dark);
    background: var(--accent-dark);
    color: 1px solid var(--accent-dark);
}

body {
    padding-top: var(--nav-height);
}

header {
    border-radius: 20px 20px 0 0;
    font-size: 1.25rem;
    background: var(--primary-light);
    padding: 5rem 1rem;
}

@media screen and (min-width: 500px) {
    header {
        font-size: 1.5rem;
    }
}


section {
    padding: 3rem 0;
    width: 100%;
}

section#about {
    border-radius: 20px 20px 0 0;
    background: var(--primary-dark);
    color: white;
}

section#about p {
    line-height: 1.5;
}

footer {
    text-align: right;
    font-size: 0.25rem;
    padding-bottom: 1rem;
}
